/CLIENT/bin
/CLIENT/obj
/CLIENT/src/gfx/*.c
/CLIENT/src/gfx/*.h
/CLIENT/src/gfx/*.log
/BUILDER/bin
/BUILDER/obj
/BUILDER/temp
/BUILDER/src/ff8packorig
/BUILDER/tools/__pycache__
/CLIENT/src/gfx/convimg.yaml.lst
/zx0.zip
/zx0/ZX0-main
